# --- environments ---
/venv/
/.venv/
**/venv/**
**/.venv/**

# data & artifacts
data/*
!data/**/.gitkeep
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep

# caches
__pycache__/
.ipynb_checkpoints/

# dotenv (샘플만 커밋)
.env
.env.*.local
